*,
*::before,
*::after {
	box-sizing: border-box;
}
.table {
	display: inline-flex;
	box-sizing: border-box;
	flex-direction: column;
	width: 100%;
	max-width: fit-content;
	max-height: fit-content;
	border: 1px black;
	background-color: lightblue;
	border-style: outset;
	border-radius: 6px;
	border-spacing: 4px;
	place-self: right;
	margin-right: 10px;
}
.error {
	display: inline-block;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: red;
}
.tr, .td {
	padding: 8px;
	border: 1px solid black;
	background-color: lightblue;
	border-style: double;
	border-radius: 6px;
}
body {
	display: flex;
	flex-direction: column;
	width: 95%;
	background-color: wheat;
}
footer {
	display: flex;
	flex-direction: column;
	width: 100vw;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: darkblue;
	position: sticky;
	bottom: 0;
}
details {
	display: inline-block;
	padding: 8px;
	width: 100vw;
	background-color: lightseagreen;
	border: lightblue;
	border-style: outset;
	box-shadow: 1px 1px 2px #bbbbbb;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: darkblue;
}
li {
	list-style-type: none;
}
ul {
	justify-content: center;
	text-decoration: none;
	color: darkblue;
}
.hr {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
}
.top-pos {
	display: flex;
    cursor: default;
	justify-content: center;
	align-items: center;
	color: darkblue;
}
.text {
    cursor: default;
    color: darkblue;
}
.main_area {
	display: flex;
	width: 100vw;
	gap: 15vw;
}
#the_title_area, #the_bottom_area {
	width: 100vw;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: darkblue;
}
#the_main_area {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100vw;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: darkblue;
}
#the_store_area {
	display: flex;
	flex-direction: row;
	align-items: center;
                <div class="produ
	gap: 10px;
	width: 100vw;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: darkblue;
}
.mnulst {
	display: inline-block;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: darkblue;
}
.store_examples {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	width: 100vw;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: darkblue;
}
.my_clock {
	display:inline-flex;
	box-sizing: border-box;
	border: 1px solid transparent;
	backface-visibility: hidden;
	background-attachment: fixed;
	border-style: double;
	border-radius: 6px;
	text-align: center;
	justify-content: center;
	align-self: center;
	width: 100vw;
	height: 100px;
	font-size: 18px;
	font-weight: bold;
	color: darkblue;
	margin-left: 3vw;
}
.clock_table {
	display: block;
	box-sizing: border-box;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: fit-content;
	max-height: fit-content;
	border: 1px black;
	background-color: lightblue;
	background-size: fit-content;
	border-style: outset;
	border-radius: 6px;
	border-spacing: 4px;
	place-self: center;
}
.image_block {
    display: flex;
    flex-direction: row;
	width: 200px;
	height: 200px;
	border-radius: 6px;
	border-style: outset;
	border-color: lightblue;
	box-shadow: 1px 1px 2px #bbbbbb;
}
.product {
	display: inline-flex;
    border: outset;
    width: 240px;
    height: auto;
    background-color: navy;
    border-color: lightblue;
    border-radius: 6px;
    padding: 10px;
    margin: 10px;
}
.product_display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.product_image {
	width: 200px;
	height: 200px;
	border-radius: 6px;
	border-style: outset;
	border-color: lightblue;
	box-shadow: 1px 1px 2px #bbbbbb;
}
.product_description {
    font-size: 24px;
    color: black;
    margin-top: 10px;
    text-align: center;
}
.product_name {
	font-size: 24px;
	font-weight: bold;
}
.product_price {
	font-size: 24px;
	font-weight: bold;
}
buy_button {
    background-color: lightseagreen;
    color: darkblue;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 6px;
    cursor: pointer;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: lightseagreen;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: darkblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: darkblue;
  border: outset;
}

/* Hide the link that should open and close the topnav on small screens */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
* Style the navbar */
#navbar {
  position: sticky;
  top: 0;
  border: outset;
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  border: outset;
  color: darkblue;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}
/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
  border: outset;
  border-color: darkblue;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 17px;
  border: outset;
  border-color: darkblue;
  outline: none;
  color: darkblue;
  padding: 14px 16px;
  background-color: lightseagreen;
  font-family: inherit;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  border: outset;
  border-color: darkblue;
  background-color: lightseagreen;
  color: darkblue;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  border: outset;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a dark background on topnav links and the dropdown button on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: darkblue;
}

/* Add a grey background to dropdown links on hover */
.dropdown-content a:hover {
  background-color: lightseagreen;
  color: black;
}

/* Show the dropdown menu when the user moves the mouse over the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}

                <div class="produ
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    border: outset;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: flexbox;
    flex-direction: column;
    border: outset;
    width: 100%;
    text-align: left;
  }
}

.topnav .icon {
  display: none;
  border: none;
}
.icon {
  display: none;
  border: none;
}