*,
*::before,
*::after {
	box-sizing: border-box;
}
.table {
	display: inline-flex;
	box-sizing: border-box;
	flex-direction: column;
	width: 100%;
	max-width: fit-content;
	max-height: fit-content;
	border: 1px black;
	background-color: lightblue;
	border-style: outset;
	border-radius: 6px;
	border-spacing: 4px;
	place-self: right;
	margin-right: 10px;
}
.error {
	display: inline-block;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: red;
}
.tr, .td {
	padding: 8px;
	border: 1px solid black;
	background-color: lightblue;
	border-style: double;
	border-radius: 6px;
}
body {
	display: flex;
	flex-direction: column;
	width: 95%;
	background-color: wheat;
}
footer {
	display: flex;
	flex-direction: column;
	width: 100vw;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: darkblue;
	position: sticky;
	bottom: 0;
}
details {
	display: inline-block;
	padding: 8px;
	width: 100vw;
	background-color: lightseagreen;
	border: lightblue;
	border-style: outset;
	box-shadow: 1px 1px 2px #bbbbbb;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: darkblue;
}
li {
	list-style-type: none;
}
ul {
	justify-content: center;
	text-decoration: none;
	color: darkblue;
}
.hr {
    display: flex;
    width: 100%;
    height: 2px;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
}
.top-pos {
	display: flex;
    cursor: default;
	justify-content: center;
	align-items: center;
	color: darkblue;
}
.text {
    cursor: default;
    color: darkblue;
}
.main_area {
	display: flex;
	width: 100vw;
	gap: 15vw;
}
#the_title_area, #the_bottom_area {
	width: 100vw;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: darkblue;
}
#the_main_area {
	display: flex;
	flex-direction: row;
	align-items: center;
	width: 100vw;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: darkblue;
}
#the_store_area {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	width: 100vw;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: darkblue;
}
.mnulst {
	display: inline-block;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: darkblue;
}
.store_examples {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
	width: 100vw;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: darkblue;
}
.my_clock {
	display:inline-flex;
	box-sizing: border-box;
	border: 1px solid transparent;
	backface-visibility: hidden;
	background-attachment: fixed;
	border-style: double;
	border-radius: 6px;
	text-align: center;
	justify-content: center;
	align-self: center;
	width: 100vw;
	height: 100px;
	font-size: 18px;
	font-weight: bold;
	color: darkblue;
	margin-left: 3vw;
}
.clock_table {
	display: block;
	box-sizing: border-box;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: fit-content;
	max-height: fit-content;
	border: 1px black;
	background-color: lightblue;
	background-size: fit-content;
	border-style: outset;
	border-radius: 6px;
	border-spacing: 4px;
	place-self: center;
}
.image_block {
	width: 200px;
	height: 200px;
	border-radius: 6px;
	border-style: outset;
	border-color: lightblue;
	box-shadow: 1px 1px 2px #bbbbbb;
}
.product {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.product_image {
	width: 200px;
	height: 200px;
	border-radius: 6px;
	border-style: outset;
	border-color: lightblue;
	box-shadow: 1px 1px 2px #bbbbbb;
}
.product_name {
	font-size: 24px;
	font-weight: bold;
}
.product_price {
	font-size: 24px;
	font-weight: bold;
}
